@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-sans-neutralface: var(--font-neutralface);
  --font-krylon: var(--font-krylon);
}

* {
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    @apply bg-white;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-black;
  }
}

::selection {
  @apply bg-neutral-300 text-black;
}

body {
  background: var(--background);
  color: var(--foreground);
}
